include *.ini
include *.rst
include *.txt
include *.py
include LICENSE
include build_docs.py
include docs/Makefile
include docs/make.bat
recursive-include docs *.rst *.py
recursive-include tests *.py *.conf
recursive-include tests/fixtures *.ova
